.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid #333;
}

.logo {
  width: 200px;
}

.nav-items ul {
  display: flex;
  padding: 0 40px;
}

.nav-items ul li {
  margin: 10px;
  padding: 10px;
  list-style: none;
  font-size: 24px;
}

.search .btn {
  margin-left: 0;
}

.search-box {
  padding: 8px 10px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.res-card {
  width: calc(16.7% - 5px);
  border: 1px solid #f0f0f0;
  padding: 5px;
  box-sizing: border-box;
}

.res-card:hover {
  border: 1px solid #333;
  cursor: pointer;
}

.res-card h5,
.res-card h6 {
  margin: 0;
  padding: 0;
  line-height: 30px;
}

.res-logo {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.filter {
  display: flex;
}

.btn {
  padding: 10px;
  margin: 10px;
  background-color: #c1c1c1;
  color: black;
  font-weight: bold;
  font-size: 14px;
  border: 0;
  line-height: initial;
}

.filter-btn {
  cursor: pointer;
  margin: 10px;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  width: 200px;
  height: 400px;
  background-color: #f0f0f0;
  margin: 20px;
}

.login {
  padding: 10px;
  cursor: pointer;
}
